[user]
    name=dkoruba
    email=dawid.koruba@thecogworks.com
[core]
    editor=gvim
    autocrlf=true
    editor=gvim

[alias]
    ci = commit
    st = status
    co = checkout
    lg = "log --graph --oneline --color"
    psm = "push -u origin master"
    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged

[credential]
    helper = "cache --timeout=86400"

[color]
	ui = true
[color "status"]
	changed = red bold
    untracked = red bold
    added = green bold

[merge]
	tool = p4merge
[diff]
	guitool = p4merge
