[user]

[core]
    editor=gvim

[alias]
    ci = commit
    st = status
    co = checkout
    lg = "log --graph --oneline --color"
    psm = "push -u origin master"

[credential]
    helper = store
	
[color]
	ui = true
[color "status"]
	changed = red bold
    untracked = red bold
    added = green bold


